<div class="paper">
  <div *ngIf="bookList$ | async; let bookList" class="bookList">
    <div *ngFor="let book of bookList" class="bookRow">
      <div class="bookTitle">
        {{ book.title }}
      </div>
      <div class="text-gray">
        {{ book.author.name }}
      </div>
      <div class="text-gray">
        {{ book.description }}
      </div>
    </div>
  </div>
  <div class="pagination">
    <mat-paginator
      [length]="bookCount$ | async"
      [pageSize]="bookPaginationInfo$._limit"
      [pageIndex]="(bookPaginationInfo$._start)/bookPaginationInfo$._limit"
      [pageSizeOptions]="[5, 10, 50]"
      (page)="setPagination($event)"
    >
    </mat-paginator>
  </div>
</div>
